@import "tailwindcss";
/* file: index.css hoáº·c globals.css */
@layer utilities {
  .main-container {
    @apply w-full max-w-[1410px] mx-auto px-4 sm:px-6 lg:px-10;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


